.vs-code
.idea
*.pyc
__pycache__
vevn


__pycache__/
*.pyo
*.pyd
backend/backend/secret.py
venv/
env/
ENV/
*.env
.idea/
.vscode/
/staticfiles/
/media/
local_settings.py
*.log
.DS_Store
db.sqlite3

.pg_data
.static
.media