asgiref==3.7.2
astroid==2.15.8
attrs==23.1.0
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
Django==5.0
django-cors-headers==4.3.1
djangorestframework==3.14.0
drf-yasg==1.21.7
flake8==6.1.0
flake8-bugbear==23.12.2
flake8-django==1.4
google-auth==2.25.2
gunicorn==21.2.0
idna==3.6
inflection==0.5.1
lazy-object-proxy==1.10.0
mccabe==0.7.0
packaging==23.2
pep8-naming==0.13.3
Pillow==10.1.0
psycopg2-binary==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.11.1
pyflakes==3.1.0
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
rsa==4.9
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.9.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.1.0
wrapt==1.16.0
